@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #f8f8f8;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0.3rem;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.header-primary {
  font-size: 2.8rem;
}

.header-secondary {
  font-size: 2rem;
}

.main-page {
  padding: 6rem 0;
  min-height: calc(100vh - 18rem);
}

.tint-container,
.shades-container {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 1;
    height: 10rem;
    min-width: 10rem;
    padding: 1rem;
    align-self: flex-start;
  }
}

.color-header {
  margin-top: 2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form-container {
  .form {
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    input {
      padding: 1rem 2rem;
      border: solid 1px #ddd;
      border-radius: 3px;
    }
  }
}

.btn {
  background-color: #6ab33e;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 3px;
  transform: all 0.3s;

  &:hover {
    background-color: #589e2c;
  }
}

.tab {
  overflow: hidden;
}

.tab-highlight {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: rgba(172, 255, 47, 0.451);
    border: solid 1px #fff;
    right: 0;
    bottom: 0;
    transform: translate(4px, 4px);
  }
}

.color-light {
  color: #fff;
}

.alert {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 1rem;
  color: #ffffff80;
}

.error-invalid-input {
  border: solid 1px rgb(235, 62, 62) !important;
}

.footer-container {
  min-height: 9rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
