@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #f8f8f8;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0.3rem;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.header-primary {
  font-size: 2.8rem;
}

.header-secondary {
  font-size: 2rem;
}

.main-page {
  padding: 3rem 0 6rem 0;
  min-height: calc(100vh - 18rem);
}

.tint-container,
.shades-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  & > * {
    flex: 1;
    height: 10rem;
    min-width: 10rem;
    padding: 1rem;
    align-self: flex-start;
  }
}

.color-header {
  margin-top: 2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form-container {
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    .issue {
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:link,
        &:visited {
          color: #1a73e8;
          transition: all 0.2s;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.6rem;
        }

        &:hover,
        &:active {
          color: #0e52ab;
        }
      }

      .icon {
        font-size: 2rem;
      }
    }
  }

  .form {
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    input {
      padding: 1rem 2rem;
      border: solid 1px #ddd;
      border-radius: 3px;
      font-size: 1.7rem;
      font-family: inherit;
      font-weight: 400;
      color: #2c620b;

      &::placeholder {
        color: #b5b5b5;
      }
    }
  }
}

.btn {
  background-color: #6ab33e;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 3px;
  transform: all 0.3s;

  &:hover {
    background-color: #589e2c;
  }
}

.tab {
  // overflow: hidden;
  cursor: pointer;
  position: relative;

  .percent-value,
  .color-value {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    color: #4d4d4d;
  }
  .percent-value {
    top: -2rem;
  }

  .color-value {
    bottom: -2rem;
  }

  .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    .icon-wrapper {
      background-color: rgba(255, 255, 255, 0.271);
      padding: 0.6rem;
      border-radius: 0.3rem;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      .icon {
        font-size: 3rem;
      }

      .icon-copy {
        color: #fff;
      }

      .icon-copied {
        color: #07bc0c;
      }
    }
  }
}

.tab-highlight {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff4e;
    border: solid 1px #fff;
    right: 0;
    bottom: 0;
    transform: translate(4px, 4px);
    clip-path: polygon(100% 0, 1% 100%, 100% 100%);
  }
}

.color-light {
  color: #fff;
}

.alert {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 1rem;
  color: #ffffff80;
}

.error-invalid-input {
  border: solid 1px rgb(235, 62, 62) !important;
}

.enter-color-code {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.footer-container {
  min-height: 9rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    a {
      &:link,
      &:visited {
        color: #1a73e8;
        transition: all 0.2s;
        text-decoration: none;
        font-weight: 600;
        border-bottom: solid currentColor 2px;
      }

      &:hover,
      &:active {
        color: #0e52ab;
      }
    }
  }
}
